* {
  color: white;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  animation-fill-mode: forwards;
}

html {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, transparent), radial-gradient(ellipse at top, #090A0F 100%, transparent);
  overflow: hidden;
}

.container {
  height: fit-content;
  width: fit-content;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.homeMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.NavBar {
  display: flex;
  height: fit-content;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.01);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1.5rem;
  ul {
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    li {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      cursor: pointer;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
      &:hover {
        scale: 1.1;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  h1 {
    margin: 0;
    padding: 1px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: -webkit-linear-gradient(white, #38495a);
    border-left: 0px transparent;
    -webkit-background-clip: text;
    background-clip: text;
    height: inherit;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translateX(5px);
      border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

#tableDisplayOuter {
  width: 100vw;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  height: 75vh;
}

#tableDisplayInner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  height: 100%;
}

#tableColumnMain {
  box-shadow: 2px 2px 12px rgba(44, 210, 222, 0.545);
  margin: 5px;
  min-height: 10vh;
  background-color: #68697318;
  min-width: 10vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: 0px 5px;
    padding: 0;
    font-size: 1.6rem;
    text-align: center;
  }
}

#tableTaskMain {
  border-left: 2px transparent;
  border-right: 2px transparent;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  display: grid;
  padding: 5px;
  align-items: center;
  max-width: 15vw;
  background-color: #aeaeb641;
  width: 100%;
  height: fit-content;
  border-radius: 1px;
  button {
    position: relative;
    justify-self: end;
    cursor: pointer;
    border: 0px transparent;
    border-radius: 5px;
    background-color: #6fcdff00;
    margin: 0px 5px;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(../../assets/messages.svg);
    background-size: cover;
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.1;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  p {
    font-size: large;
    margin: 2px;
    max-width: 13vw;
  }
}
