@import 'Variables.scss';

.container {
  height: fit-content;
  width: fit-content;
  backdrop-filter: blur(10px);
  background-color: $semi-transparent;
  border: 1px solid white;
  border-radius: 10px;
}

.homeMain {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  border: none;
  overflow: auto;
}

// the NavBar is the top bar with the logo and the buttons
.NavBar {
  // ? Without z-index NavBar 'sinks' below the TableDispay
  z-index: 2;
  // ? Changed display from grid to flex
  // display: grid;
  // grid-template-columns: 1fr 1fr auto;

  display: flex;
  justify-content: space-between;
  
  //  ? does the NavBar need to be this big? 
  align-items: center;
  position: relative;
  padding: 0rem 1rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.01);
  border-bottom: 1px solid rgb(255, 255, 255);
  // * sizing 
  height: 20vh;
  width: 100%;
  font-size: 3vh;
  // * animation 
  animation: slideInFromTop 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;


  ul {
    display: flex;
    margin: 0;
    height: fit-content;
    width: fit-content;
    padding: 0;
    list-style: none; 
    // .routerLink {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   height: fit-content;
    //   padding: 0;
    //   border: 0px solid transparent;
    //   background-color: transparent;
    //   cursor: pointer;
    //   border-radius: 10px;
    //   transition: all 0.2s ease-in-out;
    //   font-size: 1.5vw;
    //   &:hover {
    //     scale: 1.1;
    //     background-color: rgba(255, 255, 255, 0.1);
    //   }
    // }
  }
  
  h1 {
    margin: 0;
    padding: 1px 10px;
    cursor: pointer;
    display: flex;
    background: -webkit-linear-gradient(rgb(255, 255, 255), #38495a);
    border-left: 1px transparent;
    -webkit-background-clip: text;
    background-clip: text;
    height: fit-content;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateX(5px);
      border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

#tableDisplayOuter {
  position: relative;
  width: 100vw;
  border-radius: 0px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  animation: slideInFromBottom 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

#tableDisplayInner {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  gap: 1vw;
  height: 100%;
  padding: 0.3vh 0.5vw;
  overflow: auto;
}

#tableColumnMain {
  box-shadow: 2px 2px 12px rgba(44, 210, 222, 0.545);
  min-height: 10vh;
  background-color: #68697318;
  min-width: 19vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 0px;
  resize: both;
  h1 {
    margin: 0px 5px;
    padding: 0;
    font-size: 1.6rem;
    text-align: center;
    white-space: nowrap;
  }
}

#tableTaskMain {
  border-left: 0px transparent;
  border-right: 0px transparent;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  display: grid;
  padding: 5px;
  max-width: 100%;
  background-color: $glass-blue;
  width: 100%;
  border-radius: 1px;
  overflow: visible;
  overflow-wrap: anywhere;
  display: grid;
  grid-template-rows: auto;
  margin: .15rem 0;
  z-index: 1;
  .taskText {
    padding: 0;
    margin: 0.2rem;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 600;
  }
  #messagesButton {
    position: relative;
    justify-self: end;
    cursor: pointer;
    border: 0px transparent;
    border-radius: 5px;
    background-color: #6fcdff00;
    margin: 0px 5px;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(../../assets/messages.svg);
    background-size: cover;
    transition: all 0.2s ease-in-out;

    &:hover {
      scale: 1.1;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.scrollBarOuter {
  position: relative;
}

.scrollBarListItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scrollBarOuter {
  background-color: $glass-blue;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid white;
  height: 8vh;
  font-size: 3vh;
  padding: 0px 10px;
}

.TaskButton {
  display: inline-block;
  button {
    white-space: nowrap;
  }
}

.scrollBarInner {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  gap: 10px;
}

#tableColumnHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  h2 {
    padding: 0rem .5rem;
    margin: 0;
    white-space: nowrap;
    max-width: 10vw;
    overflow: auto;
  }
  button {
    position: relative;
    justify-self: end;
    cursor: pointer;
    border: 0px transparent;
    border-radius: 5px;
    background-color: #6fcdff00;
    margin: 0px 5px;
    font-size: 15px;
    height: 1.5rem;
    width: fit-content;
    color: rgb(44, 210, 222);
    background-size: cover;
    transition: all 0.2s ease-in-out;

    &:hover {
      scale: 1.1;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

#tableTaskButtons {
  display: flex;
}

#innerTaskButton {
  background-color: #38495a;
  border: 1px solid transparent;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.1rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#comments {
  border-radius: 5px;
  border: #38495a 1px solid;
  padding: 4px;
  text-align: left;
  width: fit-content;
  font-size: 12px !important;
}

h6 {
  margin: 6px;
}