/*
* this needs to be here to enforce these settings at the top level 
* otherwise things get weird and elements start getting cut off
*/

@font-face {
  font-family: JetBrainsMono-Regular;
  src: url(https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf);
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-120%);
  }

  100% {
    transform: translateY(0);
  }
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: radial-gradient(ellipse at bottom, #1B2735 0%, transparent), radial-gradient(ellipse at top, #090A0F 100%, transparent); */
  /* background-image: url(https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

*::selection {
  background: #3baaffae;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: JetBrainsMono-Regular;
  color: white;
  text-shadow: 0rem 0rem 0.35rem rgba(255, 255, 255, 0.5);
  scrollbar-color: #2ee3ffae #1B2735;
  scrollbar-width: auto;
  scroll-behavior: smooth;
  /* scrollbar-gutter: stable both-edges; */
}

body {
  margin: 0;
  padding: 0;
  background: url(https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  display: flex;
  height: 100vh;
}